html {
	background-color: rbg(0,0,0);
}

body {
	margin: 0;
	overflow: hidden;
}

#navbar {
	background-color: black;
	width: fit-content;
	overflow: hidden;
}

#navbar a {
	color: white;
	font-size: 20px;
	text-decoration: none;

}

#orca {
	position: absolute;
	left: -1000px;
	width: 100vh;
}

.follower {
	width: 20px;
	height: 20px;
	background-color: grey;
	border-radius: 10px;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	position: fixed;
	transform: translate(-50%, -50%);
}

#dango {
	position: absolute;
	left: -1000px;
	width: 100vh;
}
