html {
	background-color: grey;
}

body {
	margin: 0;
	overflow: hidden;
}

#navbar {
	background-color: black;
	width: fit-content;
	overflow: hidden;
}

#navbar a {
	color: white;
	font-size: 20px;
	text-decoration: none;

}

#orca {
	position: absolute;
	left: -1000px;
	width: 100vh;
}

.follower {
	width: 20px;
	height: 20px;
	background-color: grey;
	border-radius: 10px;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	position: fixed;
	transform: translate(-50%, -50%);
}

#dango {
	position: absolute;
	left: -1000px;
	width: 100vh;
}

.grid {
	grid-template:
    [row1-start] "header header header" 25px [row1-end]
    [row2-start] "footer footer footer" 25px [row2-end]
    / auto 50px auto;
	column-gap: 10px;
	row-gap: 16px;
}